<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="video/main" charset="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>诊断平台</title>
	<link rel="stylesheet" href="../video/css/payAuth.css" />
    <link rel="stylesheet" href="../video/css/basicStyle.css" />
	<link rel="stylesheet" href="../video/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../video/css/bootstrap-table.css" />
	<script src="../video/js/bootstrap-table.js"></script>
	<script src="../video/js/function_find.js"></script>
	<script type="text/javascript">
	$(function(){
		//进行初始化学校和类型的查询
		var spanStr = "";
	    $.ajax({
	            url:"/robot/find/selectSchool", 
	            type:'post',
	            dataType:'json',
	           	timeout: 5000,
	           	success:function(data){
	                $.each(data,function(title,obj){
	                    spanStr += '<option>'+obj.schoolName+'</option>';
	                });
	                $("#school").append(spanStr);
	                selectSchoolName($("#school").val());
	            },
	            error:function(){
	                alert("error");
	            },
	    });
	    //查询所有的类型
	    var spanString = "";
	    $.ajax({
	            url:"/robot/find/selectType", 
	            type:'post',
	            dataType:'json',
	           	timeout: 5000,
	           	success:function(data){
	                $.each(data,function(title,obj){
	                	spanString += '<option value='+obj.methodName+'>'+obj.typeName+'</option>';
	                });
	                $("#typeName").append(spanString);
	            },
	            error:function(){
	                alert("error");
	            },
	    });
	});
	
</script>
</head>
<body>
	<!-- <h1 layout:fragment="header" style="text-align:center">付费授权</h1> -->
    <div layout:fragment="content" class="container width-100 padding-rl-0">
    	<!-- <div class="col-md-12 bg-color-white top">
            <div class="col-md-1"> 
                <img src="img/log.png" alt="" class="width-40">
            </div>
        </div> -->
    	<div class="col-md-12 list-body bg-color-white width-80 padding-rl-0">
	    	<div class="col-md-12 list-title list-height">
	    		 诊断平台：小诺的硬件信息
	    	</div>
	    	<div style="margin-bottom: 30px;margin-top: 5%;margin-left:3%;">
		    	<div style="float: left;">
		    		<table border="2" bordercolor="black" cellspacing="0" style="text-align:center;height: 180px;width: 430px;">
		    			<tr>
		    				<td colspan="3" style="font-size: 18px">Linux下控</td>
		    			</tr>
		    			<tr>
		    				<td>机器所在学校</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="school" onchange="selectSchoolName(this)">
		    					</select>
		    				</td>
		    				<td rowspan="3"><button style="width: 60px;height: 60px" onclick="execute()">开始执行</button></td>
		    			</tr>
		    			<tr>
		    				<td>小诺唯一标示</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="deviceNo">
		    					</select>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>上传的信息类型</td>
		    				<td>
			    				<select style="width: 200px;height: 32px" id="typeName">
			    				</select>
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
		    	<div style="float: left;margin-left: 20px">
		    		<table border="2" bordercolor="black" cellspacing="0" style="text-align:center;height: 180px;width: 430px;">
		    			<tr>
		    				<td colspan="3" style="font-size: 18px">安卓下控</td>
		    			</tr>
		    			<tr>
		    				<td>机器所在学校</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="school" onchange="selectSchoolName(this)">
		    					</select>
		    				</td>
		    				<td rowspan="3"><button style="width: 60px;height: 60px" onclick="execute()">开始执行</button></td>
		    			</tr>
		    			<tr>
		    				<td>小诺唯一标示</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="deviceNo">
		    					</select>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>上传的信息类型</td>
		    				<td>
			    				<select style="width: 200px;height: 32px" id="typeName">
			    				</select>
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
		    	<div style="float: left;margin-left: 20px">
		    	<table border="2" bordercolor="black" cellspacing="0" style="text-align:center;height: 180px;width: 430px;">
		    			<tr>
		    				<td colspan="3" style="font-size: 18px">刷一刷下控</td>
		    			</tr>
		    			<tr>
		    				<td>机器所在学校</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="school" onchange="selectSchoolName(this)">
		    					</select>
		    				</td>
		    				<td rowspan="3"><button style="width: 60px;height: 60px" onclick="execute()">开始执行</button></td>
		    			</tr>
		    			<tr>
		    				<td>小诺唯一标示</td>
		    				<td>
		    					<select style="width: 200px;height: 32px" id="deviceNo">
		    					</select>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>上传的信息类型</td>
		    				<td>
			    				<select style="width: 200px;height: 32px" id="typeName">
			    				</select>
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
	    	</div>
	    	<div style="margin-bottom: 30px;margin-left: 3%;margin-top:19%">
	    		<table border="2" bordercolor="black" cellpadding="0" cellspacing="0" style="text-align:center;height: 150px;width: 97%;" id="methodName">
	    		</table>
	    	</div>
    	</div>
        <div class="col-md-12 list-body bg-color-white width-80 padding-rl-0 hidden margin-bottom-20">
            <div class="col-md-12 school_title list-height">
            </div>
            <!-- <div class="col-md-12 list-height">班级列表</div> -->
            <div class="col-md-12 class-list-body padding-rl-0"> 
            </div>
        </div>
    </div>
</body>
</html>