<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.didano.base.dao.Hand_channelMapper">
  <resultMap id="BaseResultMap" type="cn.didano.base.model.ChannelStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <select id="selectStatusById"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,status from vd_channel where deleted=0 and id=#{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" parameterType="cn.didano.base.dao.Hand_channelMapper" resultMap="BaseResultMap">
    select id,status from vd_channel where deleted=0
  </select>
  
  <update id="updateByChannelStatus" parameterType="map">
    update vd_channel set status = #{record.status,jdbcType=TINYINT} where id=#{record.channelId,jdbcType=TINYINT}
  </update>
</mapper>