<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.didano.base.dao.Hand_Staff_icMapper">
 <resultMap id="BaseResultMap" type="cn.didano.base.model.Tb_staff">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="rfid" jdbcType="VARCHAR" property="rfid" />
    <result column="qrcode_url" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="qrcode_school_key" jdbcType="VARCHAR" property="qrcodeSchoolKey" />
    <result column="sign_type_id" jdbcType="INTEGER" property="signTypeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <select id="selectStaff_icCard" parameterType="INTEGER" resultMap="BaseResultMap">
     select a.ic_number as rfid,b.id,b.type,b.school_id,b.name,b.phone,b.qrcode_url,b.qrcode_url_old,
    b.qrcode_school_key,b.qrcode_school_key_old,b.sign_type_id,b.status,b.created,b.updated,b.deleted
     from tb_staff b left join tb_ic_card a on b.rfid=a.rfid where b.type=31 and b.school_id=#{school_id}
  </select> 
  
   <select id="selectStaff_icCardandType" parameterType="INTEGER" resultMap="BaseResultMap">
     select a.ic_number as rfid,b.id,b.type,b.school_id,b.name,b.phone,b.qrcode_url,b.qrcode_url_old,
    b.qrcode_school_key,b.qrcode_school_key_old,b.sign_type_id,b.status,b.created,b.updated,b.deleted
     from tb_staff b left join tb_ic_card a on b.rfid=a.rfid where b.type in (32,33) and b.school_id=#{school_id}
  </select> 
  
  <select id="selectStaff_name" parameterType="cn.didano.base.model.Tb_staff" resultMap="BaseResultMap">
    select tmp1.*,c.title,d.ic_number as rfid from 
    (select a.rfid,a.id,a.type,a.school_id,b.class_id,a.name,a.phone,a.qrcode_url,
    a.qrcode_school_key,a.sign_type_id,a.status,a.created,a.updated,a.deleted from
     tb_staff a,tb_staff_class b where a.type in(31) and a.name like #{name} and a.school_id=#{schoolId} and a.id=b.staff_id)
      tmp1 left join tb_class c on tmp1.class_id=c.id left join tb_ic_card d on tmp1.rfid=d.rfid
  </select> 
  
   <select id="selectStaff_icCardType" parameterType="cn.didano.base.model.Tb_staff" resultMap="BaseResultMap">
    select tmp1.*,c.title,d.ic_number as rfid from 
    (select a.rfid,a.id,a.type,a.school_id,b.class_id,a.name,a.phone,a.qrcode_url,
    a.qrcode_school_key,a.sign_type_id,a.status,a.created,a.updated,a.deleted from
     tb_staff a,tb_staff_class b where a.type in(33,34) and a.name like #{name} and a.school_id=#{schoolId} and a.id=b.staff_id)
      tmp1 left join tb_class c on tmp1.class_id=c.id left join tb_ic_card d on tmp1.rfid=d.rfid
  </select> 
</mapper>