<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.didano.base.dao.Hand_auth_switchMapper">
  <resultMap id="BaseResultMap" type="cn.didano.base.model.Vd_auth_switch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_use" jdbcType="BIT" property="isUse" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="owner_type" jdbcType="TINYINT" property="ownerType" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="auth_type" jdbcType="TINYINT" property="authType" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <select id="select_auth_switch" resultMap="BaseResultMap">
    SELECT id,is_use,owner_id,owner_name,owner_type,
    class_id,school_id,auth_type,created,updated 
    FROM vd_auth_switch WHERE school_id=#{school_id,jdbcType=INTEGER} AND deleted=0
  </select>
 
  <select id="select_switch_by_staff" parameterType="cn.didano.base.model.Tb_staffData" resultType="cn.didano.base.model.View_staff_channel">
	select tmp2.id as staffId,tmp2.name as studentName,vd.name,vd.status,vd.oss_play_url as ossPlayUrl,vd.id as channelId 
	from vd_channel vd left join (select a.id,b.class_id,a.name from tb_staff a,tb_staff_class b where b.class_id=#{classId} and a.id=b.staff_id and a.id=#{id}) 
	tmp2 on vd.class_id=tmp2.class_id where vd.school_id=#{schoolId} and vd.class_id in (#{classId},0) and vd.deleted=0
  </select>
</mapper>